# Wiskunde II: Portfolio <a name = 'begin'></a>

## Inhoud

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('wisk2SPSSdatafile_def.csv')
df

,Geslacht,Leeftijd,Hoogste_opleiding,Roker,Sigaretten_per_dag,Bloeddrukmedicatie,Hersenbloeding,Hoge_bloeddruk,Suikerziekte,Cholesterolwaarde,...,Fysieke_gezondheid,Mentale_gezondheid,Kinderen,Autobezit,Sociaal_functioneren,Empatisch_reageren,Positieve_levenshouding,Mentale_vaardigheden,Leven_in_balans,Persoonlijke_grenzen
0,1,39,4,0,0,0,0,0,0,195,...,5,4,1,0,4,3,3,2,1,1
1,0,46,2,0,0,0,0,0,0,250,...,3,6,0,0,5,4,3,2,5,5
2,1,48,1,1,20,0,0,0,0,245,...,5,4,1,0,4,3,4,4,5,5
3,0,61,3,1,30,0,0,1,0,225,...,2,3,0,0,5,5,3,2,4,3
4,0,46,3,1,23,0,0,0,0,285,...,2,5,0,0,4,3,2,2,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,65,2,0,0,#NULL!,0,1,0,270,...,4,5,1,0,1,4,4,4,5,5
396,1,39,3,0,0,0,0,0,0,202,...,3,6,0,0,2,1,4,4,3,2
397,0,47,2,1,3,0,0,0,0,155,...,2,6,0,1,3,2,2,1,4,3
398,1,59,1,1,43,0,0,0,0,207,...,3,6,0,0,1,1,5,4,5,4
399,1,66,1,0,0,0,0,1,0,276,...,3,6,0,0,3,3,4,4,3,3

In [5]:
display(df.describe(), df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Geslacht                       400 non-null    int64
 1   Leeftijd                       400 non-null    int64
 2   Hoogste_opleiding              400 non-null    int64
 3   Roker                          400 non-null    int64
 4   Sigaretten_per_dag             400 non-null    int64
 5   Bloeddrukmedicatie             400 non-null    object
 6   Hersenbloeding                 400 non-null    int64
 7   Hoge_bloeddruk                 400 non-null    int64
 8   Suikerziekte                   400 non-null    int64
 9   Cholesterolwaarde              400 non-null    int64
 10  Bloeddruk_systolisch           400 non-null    float64
 11  Bloeddruk_diastolisch          400 non-null    float64
 12  BMI_waarde                     400 non-null    float64
 13  Hartslagen                     400 non-null    int64
 14  Glucosegehalte                 400 non-null    int64
 15  Hoog_hartaanval_risico         400 non-null    int64
 16  Harddruggebruik                400 non-null    int64
 17  Softdruggebruik                400 non-null    int64
 18  Jaarlijks_medische_checkup     400 non-null    int64
 19  Wekelijkse_uren_screentime     400 non-null    int64
 20  Partner                        400 non-null    int64
 21  Gescheiden_ouders              400 non-null    int64
 22  Werkeloos                      400 non-null    int64
 23  Voldoende_dagelijkse_beweging  400 non-null    int64
 24  Fruitconsumptie                400 non-null    int64
 25  Groentenconsumptie             400 non-null    int64
 26  Alcoholconsumptie              400 non-null    int64
 27  Lid_sportclub                  400 non-null    int64
 28  Chronische_ziekte              400 non-null    int64
 29  Fysieke_gezondheid             400 non-null    int64
 30  Mentale_gezondheid             400 non-null    int64
 31  Kinderen                       400 non-null    int64
 32  Autobezit                      400 non-null    int64
 33  Sociaal_functioneren           400 non-null    int64
 34  Empatisch_reageren             400 non-null    int64
 35  Positieve_levenshouding        400 non-null    int64
 36  Mentale_vaardigheden           400 non-null    int64
 37  Leven_in_balans                400 non-null    int64
 38  Persoonlijke_grenzen           400 non-null    int64
dtypes: float64(3), int64(35), object(1)
memory usage: 122.0+ KB

,Geslacht,Leeftijd,Hoogste_opleiding,Roker,Sigaretten_per_dag,Hersenbloeding,Hoge_bloeddruk,Suikerziekte,Cholesterolwaarde,Bloeddruk_systolisch,...,Fysieke_gezondheid,Mentale_gezondheid,Kinderen,Autobezit,Sociaal_functioneren,Empatisch_reageren,Positieve_levenshouding,Mentale_vaardigheden,Leven_in_balans,Persoonlijke_grenzen
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.0000,400.000000,400.000000,400.000000,400.000000,...,400.000000,400.000000,400.00000,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,0.405000,49.600000,1.975000,0.477500,9.490000,0.0025,0.300000,0.030000,237.482500,132.225000,...,2.877500,4.797500,0.29250,0.38750,2.892500,2.597500,3.065000,2.732500,3.092500,2.770000
std,0.491507,8.881001,1.032978,0.500119,12.724964,0.0500,0.458831,0.170801,43.296665,22.392363,...,1.109311,1.029146,0.45548,0.48779,1.210209,1.154915,1.272723,1.244917,1.306987,1.255404
min,0.000000,34.000000,1.000000,0.000000,0.000000,0.0000,0.000000,0.000000,129.000000,94.000000,...,1.000000,2.000000,0.00000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.0000,0.000000,0.000000,207.000000,116.000000,...,2.000000,4.000000,0.00000,0.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.0000,0.000000,0.000000,238.000000,128.000000,...,3.000000,5.000000,0.00000,0.00000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.0000,1.000000,0.000000,265.000000,144.000000,...,4.000000,6.000000,1.00000,1.00000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000
max,1.000000,68.000000,4.000000,1.000000,60.000000,1.0000,1.000000,1.000000,464.000000,215.000000,...,5.000000,6.000000,1.00000,1.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

None

In [7]:
print(df['Bloeddrukmedicatie'].dtypes)

object

[Terug naar het begin](#begin)