# Wiskunde II: Portfolio <a name = 'begin'></a>

## Inhoud

1. [Deel A](#deela)

## Importeren van de dataset en modules

In [3]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('wisk2SPSSdatafile_def.csv')
df

     Geslacht  Leeftijd  Hoogste_opleiding  Roker  Sigaretten_per_dag Bloeddrukmedicatie  Hersenbloeding  Hoge_bloeddruk  Suikerziekte  Cholesterolwaarde  Bloeddruk_systolisch  Bloeddruk_diastolisch  BMI_waarde  Hartslagen  Glucosegehalte  Hoog_hartaanval_risico  Harddruggebruik  Softdruggebruik  Jaarlijks_medische_checkup  Wekelijkse_uren_screentime  Partner  Gescheiden_ouders  Werkeloos  Voldoende_dagelijkse_beweging  Fruitconsumptie  Groentenconsumptie  Alcoholconsumptie  Lid_sportclub  Chronische_ziekte  Fysieke_gezondheid  Mentale_gezondheid  Kinderen  Autobezit  Sociaal_functioneren  Empatisch_reageren  Positieve_levenshouding  Mentale_vaardigheden  Leven_in_balans  Persoonlijke_grenzen
0           1        39                  4      0                   0                  0               0               0             0                195                 106.0                   70.0       26.97          80              77                       0                1                1                           1                          40        1                  0          0                              0                2                   2                  2              1                  0                   5                   4         1          0                     4                   3                        3                     2                1                     1
1           0        46                  2      0                   0                  0               0               0             0                250                 121.0                   81.0       28.73          95              76                       0                0                0                           0                          25        1                  0          0                              1                3                   3                  2              0                  1                   3                   6         0          0                     5                   4                        3                     2                5                     5
2           1        48                  1      1                  20                  0               0               0             0                245                 127.5                   80.0       25.34          75              70                       0                1                1                           1                          28        0                  0          0                              0                2                   2                  1              1                  1                   5                   4         1          0                     4                   3                        4                     4                5                     5
3           0        61                  3      1                  30                  0               0               1             0                225                 150.0                   95.0       28.58          65             103                       1                1                0                           1                          27        0                  0          0                              1                3                   1                  2              1                  0                   2                   3         0          0                     5                   5                        3                     2                4                     3
4           0        46                  3      1                  23                  0               0               0             0                285                 130.0                   84.0       23.10          85              85                       0                1                1                           1                          24        0                  0          0                              1                1                   1                  1              1                  0                   2                   5         0          0                     4                   3                        2                     2                3                     2
..        ...       ...                ...    ...                 ...                ...             ...             ...           ...                ...                   ...                    ...         ...         ...             ...                     ...              ...              ...                         ...                         ...      ...                ...        ...                            ...              ...                 ...                ...            ...                ...                 ...                 ...       ...        ...                   ...                 ...                      ...                   ...              ...                   ...
395         0        65                  2      0                   0             #NULL!               0               1             0                270                 165.0                   98.0       21.66          62              92                       1                1                1                           1                          40        0                  0          0                              1                1                   3                  0              1                  0                   4                   5         1          0                     1                   4                        4                     4                5                     5
396         1        39                  3      0                   0                  0               0               0             0                202                 136.5                   79.0       24.35          73              60                       0                1                1                           1                          35        0                  0          1                              1                3                   0                  3              1                  0                   3                   6         0          0                     2                   1                        4                     4                3                     2
397         0        47                  2      1                   3                  0               0               0             0                155                 122.5                   77.5       21.34          65              78                       0                1                0                           1                          22        0                  0          0                              1                0                   0                  3              1                  0                   2                   6         0          1                     3                   2                        2                     1                4                     3
398         1        59                  1      1                  43                  0               0               0             0                207                 132.5                   66.0       26.84          65              76                       1                1                0                           1                          32        0                  0          0                              0                3                   3                  2              1                  0                   3                   6         0          0                     1                   1                        5                     4                5                     4
399         1        66                  1      0                   0                  0               0               1             0                276                 159.0                   82.0       31.42          90              65                       0                0                0                           1                          31        0                  0          0                              0                0                   0                  0              1                  0                   3                   6         0          0                     3                   3                        4                     4                3                     3

[400 rows x 39 columns]

In [10]:
display(df.describe(), df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Geslacht                       400 non-null    int64
 1   Leeftijd                       400 non-null    int64
 2   Hoogste_opleiding              400 non-null    int64
 3   Roker                          400 non-null    int64
 4   Sigaretten_per_dag             400 non-null    int64
 5   Bloeddrukmedicatie             400 non-null    object
 6   Hersenbloeding                 400 non-null    int64
 7   Hoge_bloeddruk                 400 non-null    int64
 8   Suikerziekte                   400 non-null    int64
 9   Cholesterolwaarde              400 non-null    int64
 10  Bloeddruk_systolisch           400 non-null    float64
 11  Bloeddruk_diastolisch          400 non-null    float64
 12  BMI_waarde                     400 non-null    float64
 13  Hartslagen                     400 non-null    int64
 14  Glucosegehalte                 400 non-null    int64
 15  Hoog_hartaanval_risico         400 non-null    int64
 16  Harddruggebruik                400 non-null    int64
 17  Softdruggebruik                400 non-null    int64
 18  Jaarlijks_medische_checkup     400 non-null    int64
 19  Wekelijkse_uren_screentime     400 non-null    int64
 20  Partner                        400 non-null    int64
 21  Gescheiden_ouders              400 non-null    int64
 22  Werkeloos                      400 non-null    int64
 23  Voldoende_dagelijkse_beweging  400 non-null    int64
 24  Fruitconsumptie                400 non-null    int64
 25  Groentenconsumptie             400 non-null    int64
 26  Alcoholconsumptie              400 non-null    int64
 27  Lid_sportclub                  400 non-null    int64
 28  Chronische_ziekte              400 non-null    int64
 29  Fysieke_gezondheid             400 non-null    int64
 30  Mentale_gezondheid             400 non-null    int64
 31  Kinderen                       400 non-null    int64
 32  Autobezit                      400 non-null    int64
 33  Sociaal_functioneren           400 non-null    int64
 34  Empatisch_reageren             400 non-null    int64
 35  Positieve_levenshouding        400 non-null    int64
 36  Mentale_vaardigheden           400 non-null    int64
 37  Leven_in_balans                400 non-null    int64
 38  Persoonlijke_grenzen           400 non-null    int64
dtypes: float64(3), int64(35), object(1)
memory usage: 122.0+ KB

         Geslacht    Leeftijd  Hoogste_opleiding       Roker  Sigaretten_per_dag  Hersenbloeding  Hoge_bloeddruk  Suikerziekte  Cholesterolwaarde  Bloeddruk_systolisch  Bloeddruk_diastolisch  BMI_waarde  Hartslagen  Glucosegehalte  Hoog_hartaanval_risico  Harddruggebruik  Softdruggebruik  Jaarlijks_medische_checkup  Wekelijkse_uren_screentime    Partner  Gescheiden_ouders   Werkeloos  Voldoende_dagelijkse_beweging  Fruitconsumptie  Groentenconsumptie  Alcoholconsumptie  Lid_sportclub  Chronische_ziekte  Fysieke_gezondheid  Mentale_gezondheid   Kinderen  Autobezit  Sociaal_functioneren  Empatisch_reageren  Positieve_levenshouding  Mentale_vaardigheden  Leven_in_balans  Persoonlijke_grenzen
count  400.000000  400.000000         400.000000  400.000000          400.000000        400.0000      400.000000    400.000000         400.000000            400.000000             400.000000  400.000000  400.000000      400.000000              400.000000       400.000000       400.000000                  400.000000                  400.000000  400.00000         400.000000  400.000000                     400.000000       400.000000          400.000000         400.000000     400.000000         400.000000          400.000000          400.000000  400.00000  400.00000            400.000000          400.000000               400.000000            400.000000       400.000000            400.000000
mean     0.405000   49.600000           1.975000    0.477500            9.490000          0.0025        0.300000      0.030000         237.482500            132.225000              82.022500   25.799600   75.975000       81.852500                0.197500         0.580000         0.552500                    0.980000                   28.752500    0.50750           0.072500    0.132500                       0.587500         1.735000            1.802500           1.392500       0.955000           0.105000            2.877500            4.797500    0.29250    0.38750              2.892500            2.597500                 3.065000              2.732500         3.092500              2.770000
std      0.491507    8.881001           1.032978    0.500119           12.724964          0.0500        0.458831      0.170801          43.296665             22.392363              11.630463    4.306399   12.242716       17.940189                0.398611         0.494177         0.497859                    0.140175                    5.892627    0.50057           0.259639    0.339458                       0.492901         0.988543            1.005496           0.969946       0.207564           0.306937            1.109311            1.029146    0.45548    0.48779              1.210209            1.154915                 1.272723              1.244917         1.306987              1.255404
min      0.000000   34.000000           1.000000    0.000000            0.000000          0.0000        0.000000      0.000000         129.000000             94.000000              55.000000   15.540000   48.000000       45.000000                0.000000         0.000000         0.000000                    0.000000                   16.000000    0.00000           0.000000    0.000000                       0.000000         0.000000            0.000000           0.000000       0.000000           0.000000            1.000000            2.000000    0.00000    0.00000              1.000000            1.000000                 1.000000              1.000000         1.000000              0.000000
25%      0.000000   42.000000           1.000000    0.000000            0.000000          0.0000        0.000000      0.000000         207.000000            116.000000              73.750000   22.897500   68.000000       72.000000                0.000000         0.000000         0.000000                    1.000000                   24.000000    0.00000           0.000000    0.000000                       0.000000         1.000000            1.000000           1.000000       1.000000           0.000000            2.000000            4.000000    0.00000    0.00000              2.000000            2.000000                 2.000000              2.000000         2.000000              2.000000
50%      0.000000   49.000000           2.000000    0.000000            0.000000          0.0000        0.000000      0.000000         238.000000            128.000000              81.000000   25.360000   75.000000       79.000000                0.000000         1.000000         1.000000                    1.000000                   28.000000    1.00000           0.000000    0.000000                       1.000000         2.000000            2.000000           1.000000       1.000000           0.000000            3.000000            5.000000    0.00000    0.00000              3.000000            3.000000                 3.000000              3.000000         3.000000              3.000000
75%      1.000000   56.000000           3.000000    1.000000           20.000000          0.0000        1.000000      0.000000         265.000000            144.000000              89.000000   28.225000   85.000000       88.250000                0.000000         1.000000         1.000000                    1.000000                   32.000000    1.00000           0.000000    0.000000                       1.000000         3.000000            3.000000           2.000000       1.000000           0.000000            4.000000            6.000000    1.00000    1.00000              4.000000            3.000000                 4.000000              4.000000         4.000000              4.000000
max      1.000000   68.000000           4.000000    1.000000           60.000000          1.0000        1.000000      1.000000         464.000000            215.000000             124.500000   45.800000  140.000000      225.000000                1.000000         1.000000         1.000000                    1.000000                   55.000000    1.00000           1.000000    1.000000                       1.000000         3.000000            4.000000           3.000000       1.000000           1.000000            5.000000            6.000000    1.00000    1.00000              5.000000            5.000000                 5.000000              5.000000         5.000000              5.000000

None

[Terug naar het begin](#begin)

# Deel A: <a name = 'deela'></a>

Kies eerst 5 variablen van de dataset, zodanig dat elk meetniveau ook wordt gebruikt.

In [20]:
df[['Geslacht', 'Leeftijd', 'Hoogste_opleiding', 'BMI_waarde', 'Werkeloos']].head()

   Geslacht  Leeftijd  Hoogste_opleiding  BMI_waarde  Werkeloos
0         1        39                  4       26.97          0
1         0        46                  2       28.73          0
2         1        48                  1       25.34          0
3         0        61                  3       28.58          0
4         0        46                  3       23.10          0

## De 5 gekozen waardes en de meetniveau's

Er is gekozen voor de volgende 5 waardes:

### 1. Geslacht
Het geslacht bevindt zich op het nominale meetniveau, voor deze reden zal de modus gebruikt worden als kengetal. 
De modus van de eerste 5 regels is 0, er zijn namelijk 3 nullen en 2 énen. Dit geeft aan, op basis van de eerste 5 regels, dat de meest voorkomende geslacht mannelijk is.
    
### 2. Hoogste opleiding
De hoogst behaalde opleiding bevindt zich op het ordinale meetniveau, daarom zal de mediaan gebruikt worden.
De mediaan van deze 5 regels is 3, het HBO. Dit is bepaald door de kennis dat de mediaan het middelste getal is in een reeks. De reeks voor deze eerste 5 regels is {1, 2, 3, 3, 4}. Omdat het een oneven aantal is kan er voor het middelste getal worden gekozen. Bij de mediaan hoort ook de IQR, deze waarde wordt als volgt berekent:
- Eerst bepalen we Q1 en Q3. Q1 heeft een waarde van 1.5, de mediaan van {1, 2}. Q3 heeft een waarde van 3.5, de mediaan van {3, 4}.
    Om de IQR te bepalen halen we Q1 van Q3 af. Dit geeft ons Q3 - Q1 = IQR, dit leidt tot 3.5 - 1.5 = 2.

### 3. Leeftijd 
Leeftijd bevindt zich op het meetniveau interval, een continue waarde. Daardoor is er een keuze tussen het gemiddelde en de mediaan. Wegens de hoeveelheid data en kennis beschikbaar is er gekozen voor de mediaan. Leeftijd kan namelijk erg breedt zijn, ook in de eerste 5 regels is dit te zien. De hoogste waarde is 61 en de laagste waarde is 39. De mediaan van de leeftijd is 46, het middelste getal van de getallenreeks {39, 46, 46, 48, 61}. Ook hier moet de IQR weer worden berekent:
- Q1 is 43, het midden van {39, 46} en Q3 is 54, het midden van {48, 61}. De IQR is dan weer Q3 - Q1 = IQR, dus 54 - 43 = 11

### 4. BMI 
De BMI waarde bevindt zich op ratio niveau, ook dit is een continue waarde. Omdat de BMI een wat stabielere waarde is dan leeftijd, is hier gekozen 

### 5. Werkeloos 
    - Nominaal meetniveau
    -